/* src/styles/home.css */

/* Hero セクション */
.hero {
    margin-top: 0rem;
    margin-bottom: 2rem;
}

.hero h1 {
    font-size: 3rem;    /* 48px */
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.hero .header-img {
    width: 100%;
    max-width: 1000px;
    height: auto;
    display: block;
    margin: 1rem auto 2rem;
    border-radius: var(--radius-base);
    box-shadow: var(--shadow-base);
}

h2 {
    font-size: 2rem;    
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

@media (max-width: 768px) {
    .hero {
        margin-bottom: 1rem;
        padding: 0 1rem;
    }

    .hero h1 {
        font-size: 2rem;
        margin: 0.5rem 0;
    }

    .hero .header-img {
        max-width: 100%;
        margin: 1rem auto 1.5rem;
    }

    h2 {
        font-size: 1.5rem;
        margin: 0.75rem 0;
    }
}