/* src/styles/home.css */

/* Hero セクション */
.hero {
    margin-top: 0rem;
    margin-bottom: 2rem;
}

.hero h1 {
    font-size: 3rem;    /* 48px */
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.hero .header-img {
    width: 100%;
    max-width: 1000px;
    height: auto;
    display: block;
    margin: 1rem auto 2rem;
    border-radius: var(--radius-base);
    box-shadow: var(--shadow-base);
}

h2 {
    font-size: 2rem;    
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}