---
import Layout from '../layouts/Layout.astro';
import Parts from '../components/parts.astro';
import '../styles/about.css';
---

<Layout>
    <section class="about-page">
        <div class="about">
            <div class="about-header">
                <h1 class="about-title">Our Message</h1>
                <p>
                    啓明さんの思いの丈を書きまくる場所
                </p>
            </div>
            
            <div class="member-box">
                <h2>Member</h2>
                <div class="member-profile">
                    <Parts role="Gt. Vo." memberName="鈴木啓明" description="hogehoge" imageSrc="images/masshiro.jpg" />
                    <Parts role="Gt." memberName="神林励旺" description="hogehoge" imageSrc="images/masshiro.jpg" />
                    <Parts role="Ba." memberName="大脇伊織" description="hogehoge" imageSrc="images/masshiro.jpg" />
                    <Parts role="Dr." memberName="柴田そよか" description="hogehoge" imageSrc="images/masshiro.jpg" />
                </div>            
            </div>
        </div>
    </section>
</Layout>