---
import '../styles/Footer.css';
---
<footer class="site-footer">
    <div class="container">
        <p class="footer-text">&copy; {new Date().getFullYear()} Azule Orchid. All rights reserved.</p>
        <nav class="footer-nav">
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/music">Releases</a></li>
                <li><a href="/tour">Live</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</footer>
