---
import '../styles/Footer.css';
---
<footer class="site-footer">
    <div class="container">
        <p class="footer-text">&copy; {new Date().getFullYear()} Azule Orchid. All rights reserved.</p>
        <nav class="footer-nav">
            <ul class="nav-links">
                <li><a href="/" class="footer-link">Home</a></li>
                <li><a href="/about" class="footer-link">About Us</a></li>
                <li><a href="/music" class="footer-link">Releases</a></li>
                <li><a href="/tour" class="footer-link">Live</a></li>
                <li><a href="/contact" class="footer-link">Contact</a></li>
            </ul>
        </nav>
    </div>
</footer>
