---
import '../styles/Header.css';
---

<header class="site-header">
    <div class="container">
        <h1 class="logo">
            <a href=".">
                <img src="images/logo.png" alt="Azule Orchid" />
            </a>
        </h1>
        <nav class="main-nav">
            <ul class="nav-links">
                <li><a href="." class="nav-link">Home</a></li>
                <li><a href="about/" class="nav-link">About Us</a></li>
                <li><a href="music/" class="nav-link">Releases</a></li>
                <li><a href="tour/" class="nav-link">Live</a></li>
                <li><a href="contact/" class="nav-link">Contact / SNS</a></li>
            </ul>
        </nav>
    </div>
</header>
