---
import '../styles/Header.css';
---
<header class="site-header">
    <div class="container">
        <h1 class="logo">
            <a href="/">
                <img src="/images/logo.png" alt="Azule Orchid" />
            </a>
        </h1>
        <nav class="main-nav">
            <ul class="nav-links">
                <li><a href="/Azule_HP/">Home</a></li>
                <li><a href="/Azule_HP/about">About Us</a></li>
                <li><a href="/Azule_HP/music">Releases</a></li>
                <li><a href="/Azule_HP/tour">Live</a></li>
                <li><a href="/Azule_HP/contact">Contact / SNS</a></li>
            </ul>
        </nav>
    </div>
</header>