---
import '../styles/Header.css';
---
<header class="site-header">
    <div class="container">
        <h1 class="logo">
            <a href="/">Azule Orchid</a>
        </h1>
        <nav class="main-nav">
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/music">Releases</a></li>
                <li><a href="/tour">Live</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>