<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Azule Orchid</title>
	</head>
	<body>
		<header>
			<h1 class="logo">Azule Orchid</h1>
			<nav>
				<ul class="nav-links">
					<li><a href="/">ホーム</a></li>
					<li><a href="/about">バンドについて</a></li>
					<li><a href="/music">音楽</a></li>
					<li><a href="/tour">ツアー</a></li>
					<li><a href="/contact">お問い合わせ</a></li>
				</ul>
			</nav>
		</header>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
