---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Global from '../styles/Global.astro';
const base = import.meta.env.BASE_URL; // e.g. "/azule_HP/"
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href={`${base}favicon.svg`} type="image/svg+xml" />
        <meta name="generator" content={Astro.generator} />
        <title>Azule Orchid</title>
        <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;600&display=swap"
        rel="stylesheet"
        />
        <Global />
    </head>
    <body>
        <Header />
        <main class="container">
        <slot />
        </main>
        <Footer />
    </body>
</html>

<style>
main.container {
    padding-top: 1rem;
    padding-bottom: 2rem;
}
</style>
